<div class = "two-col-image">
  <figure style = "floating: left;">
     <a href="{{ include.url }}">
     <img src="{{ include.file }}" style="width: 50%;"
        alt="{{ include.alt }}"/>
     </a>
     <figcaption>{{ include.caption }}</figcaption>
  </figure>

  <figure style = "floating: left;">
     <a href="{{ include.url }}">
     <img src="{{ include.file }}" style="width: 50%;"
        alt="{{ include.alt }}"/>
     </a>
     <figcaption>{{ include.caption }}</figcaption>
  </figure>

</div>
