---
---

@import "{{ site.theme }}";
body{
  //background-color: #FEE3E3;
  p {
    margin:0 0 10px;
  }

  .post_list{
    a{
      font-size: 20px;
      font-family:fantasy;
      color: black;
    }
  }

}
