---
---

@import "{{ site.theme }}";

// google web fonts
$Serif: 'Roboto Slab', serif;
$SansSerif: 'Roboto', sans-serif;
$Monospace: 'Roboto Mono', monospace;


body{
  //background-color: #FEE3E3;
  font-family: $SansSerif;
  p {
    margin:0 0 10px;
    font-size: 15px;
    font-family: Arial;
  }

  .post_list{
    a{
      font-size: 20px;
      font-family:$SansSerif;
      color: #002933;
    }
    li{
      list-style-type: none;
    }
  }

  .page-link{
    h3:hover, h3:focus {
      color:#069;
      font-weight: bold;
    }
    h3{
      text-align: center;
      // color: #267CB9;
      position: relative;
      top: 40%;
      transform: translate(0,-50%);
    }
  }

}
